body{padding: 0;margin: 0;background: rgb(242,242,242);font-size:11px;font-family: Verdana, Arial, Tahoma;}
div#login{
    width:100%;
    height:305px;
    position:absolute;
    top:50%;
    margin:-152px 0 0 0;
}
div#logoToolDo{
    background: url("../../images/secure/logo-tooldo.png");
    width: 202px;
    height: 55px;
    left: 50%;
    position: absolute;
    margin: -85px 0 0 -300px;
}
div#divFrmLogin{
    background: url("../../images/secure/bg_login.png") repeat-x top left;
    width:100%;
    height:305px;
    padding-top: 6px;
}
div#div-bts-footer{
    width: 100%;
    height: 50px;
    margin-top: -15px;
    position: relative;
    z-index: -1000;
}
div#div-bts-footer .bts-footer{
    float: right;
    width: 251px;
    height: 45px;
    margin-left: 8px;
}
div#div-bts-footer img{
    border: none;
}

div#error{background:#ffc4c4;border:1px solid #900;color: #900;font-weight: bold;padding:4px 5px 1px 5px;text-align:left;width:300px;height:27px;position:absolute;top:50%;left:50%;margin:-37px 0 0 -150px;-moz-border-radius:4px;-webkit-border-radius:4px}
	div#error ul{margin:5px 0 0 5px;padding:0;float:left}
	div#error ul li{list-style:none}
	div#error img{vertical-align:middle;float:left}

#autheticationForm{width:280px;height:190px;position:absolute;top:50%;left:50%;margin:-80px 0 0 -140px;text-align:left}
        #autheticationForm input{background-image:url("")}
	#autheticationForm .input_txt{background-color: rgb(242,242,242); color: #828282; font-family:Verdana, Arial, Helvetica, sans-serif;font-size:11px;padding:5px;width:211px; height: 35px;margin: 0 0 30px 25px;border:1px solid #FFF}
        #autheticationForm img{margin:  0 0 30px 0;}
        
#resetPasswordForm{width:313px;height:100px;position:absolute;top:50%;left:50%;margin:30px 0 0 -150px;text-align:left}
	#resetPasswordForm .input_txt2{background-color: rgb(242,242,242); font-family:Verdana, Arial, Helvetica, sans-serif;font-size:11px;padding:5px;width:200px;margin-bottom:10px;border:1px solid #FFF}

#modalRestorePassword{margin:44px 0 0 -4px}

.label_erro{color:#900;padding:0}

.diverror{border:0px; background-color:#FFEFEF; padding:3px; color:#900 !important;text-align:left;}
.divsucess{border:0px; background-color:#F3FFEF; padding:3px; color:#447F17 !important;text-align:left;}
.imgMiddle {vertical-align:middle !important}
.input_txt{width:275px;height:13px}

.rich-messages{border:1px solid #666;width:300px;position:absolute;top:50%;left:50%;margin:-56px 0 0 -140px;}

.rich-messages-reset-pass{border:1px solid #666;width:300px;position:absolute;top:50%;left:50%;margin:-40px 0 0 -140px;}

span.rich-messages-marker, span.rich-messages-marker0 *{margin:0 15px 0 0;vertical-align:bottom}

#outMsgMessage {
	font-size: 12px !important;
}
#outMsgMessage span{
    width: 290px;
    margin: 0 auto;
}